.banner {
    margin-bottom: 6rem;
    position: relative;
    z-index: 2;
    width: 100%;
}

.title {
    letter-spacing: 0.25rem;
    font-weight: 700;
}

.title1 {
    font-size: 5rem;
    color: rgba(249, 250, 251, 1);
}

.title2 {
    font-size: 5rem;
    color: var(--text-purple);
}

.subTitle {
    margin-top: 0.75rem;
    font-size: 3rem;
    color: var(--text-white-100);
}

.buttonWrapper {
    margin-top: 1.25rem;
}

.button {
    background-color: var(--text-purple-dark);
    cursor: pointer;
    color: white;
    outline: 0;
    border: 0px;
    padding: 1rem;
    font-size: 2rem;
    line-height: 1.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.button:hover {
    background-color: var(--text-purple-dark);
}

/** 
  Breakpoints:
  ------------
  sm: min-width: 468px; //small device
  md: min-width: 768px; // medium device
**/